@use "variables/breakpoints";

.profile-header {
    display: flex;
    align-items: center;
    gap: 12px;

    &_avatar {
        flex-shrink: 0;
    }

    &_content {
        color: var(--proxi-text);
        display: flex;
        flex-direction: column;
        gap: 4px;

        @media (max-width: breakpoints.$tablet) {
            display: none;
        }

        strong {
            font-size: 13px;
            font-weight: 700;
        }

        span {
            color: var(--proxi-text-muted);
            font-size: 11px;
        }
    }
}
