@use "variables/breakpoints";

.profile-header {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 48px;

  @media (min-width: breakpoints.$desktop) {
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
  }

  &_thumb {}

  &_content-info {
    display: flex;
    flex-direction: column;
    gap: 8px;

    ul {
      gap: 8px;
      display: flex;
      flex-wrap: wrap;
      max-width: 400px;
      justify-items: flex-start;
      align-items: flex-start;
    }
  }

  &_content {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
}
