<div class="provider-profile-summary">
    <header class="provider-profile-summary_header">
        <div class="provider-profile-summary_header_thumb">
            @if (image()) {
            <img [src]="image()" alt="foto de perfil do prestador de serviço" />
            }

            @if(verified()) {
            <app-badge class="card-detail_badge" color="success">
                <fa-icon [icon]="checkIcon()" aria-hidden="true"></fa-icon>
                Verificado
            </app-badge>
            }
        </div>

        <div class="provider-profile-summary_header_title main-title">
            João Eletricista
        </div>
    </header>

    <div class="provider-profile-summary_content">
        <ul>
            @for (item of items(); track $index) {
            <li>
                <div class="item">
                    <fa-icon class="item-icon" [icon]="item.icon" />

                    <div class="item-content">
                        <strong class="item-title">
                            {{ item.label }}
                        </strong>
                        <div class="item-legend">
                            {{ item.value }}
                        </div>
                    </div>
                </div>
            </li>
            }
        </ul>
    </div>

    <footer class="provider-profile-summary_footer">
        <app-button typeColor="outline" color="primary">
            Ver Perfil Completo
        </app-button>
    </footer>
</div>