@use "../../scss/mixins/position" as position;

#auth-page {
  @include position.flexCenter();
  height: 100dvh;
  width: 100dvw;

  &_container {
    position: relative;
    overflow: hidden;
    flex: 1;
  }

  &_forms {
    @include position.flexCenter();
    border-top-left-radius: 16px;
    border-bottom-left-radius: 16px;
    height: 100%;
    flex: 0 0 25%;
  }
}
