@use "mixins/position";
@use "variables/breakpoints";

#auth-page {
  @include position.flexCenter();
  width: 100dvw;

  @media (min-width: breakpoints.$desktop) {
    height: 100dvh;
  }

  &_container {
    position: relative;
    overflow: hidden;
    flex: 1;
  }

  &_forms {
    background: var(--background-color);
    transition: var(--transition);
    height: 100dvh;
    flex: 0 0 0%;
    z-index: 1;
    flex-direction: column;
    min-height: 100dvh;
    max-width: 100%;

    @media (min-width: breakpoints.$desktop) {
      height: 100%;
      max-width: 500px;
    }
  }

  &_forms:has(form) {
    @include position.flexCenter();
    padding: var(--space-6);
    flex: 0 0 100%;
    margin: 0;

    @media (min-width: breakpoints.$desktop) {
      border-bottom-left-radius: 16px;
      border-top-left-radius: 16px;
      margin-left: -20px;
      min-width: 480px;
      flex: 0 0 25%;
    }
  }
}
