@use "mixins/grid";
@use "mixins/position";
@use "variables/breakpoints";

#provider-home {
  @include grid.container(var(--container-size));
  @include position.flexCollumn();
  gap: var(--space-14);

  &_dashboard {
    display: flex;
    gap: var(--space-4);

    &_sumary {
      display: grid;
      grid-template-columns: repeat(2, minmax(200px, 1fr));
      gap: var(--space-2);
    }

    .sumary {
      @include position.flexCollumn();
      background-color: rgb(var(--color-primary-rgb), 0.8);
      border-radius: var(--border-radius-1);
      color: var(--color-primary-contrast);
      font-size: var(--font-size-3);
      justify-content: center;
      padding: var(--space-4);
      gap: var(--space-2);
    }
  }
}