.button {
  cursor: pointer;
  border: none;
  display: block;
  font-style: normal;
  font-family: var(--primary-font-family);
  max-width: 100%;
  transition: 0.3s all linear;
  width: 100%;

  //Color
  &--customer {
    background: var(--color-customer);
    color: var(--color-customer-contrast);

    &:active,
    &:hover {
      background-color: var(--color-customer-shade);
    }
  }

  &--provider {
    background: var(--color-provider);
    color: var(--color-provider-contrast);

    &:active,
    &:hover {
      background-color: var(--color-provider-shade);
      color: var(--font-color-light);
    }
  }

  &--light {
    background: var(--secundary-color-4);
    color: var(--font-color-dark);

    &:active,
    &:hover {
      background-color: var(--secundary-color-1);
      color: var(--font-color-dark);
    }
  }

  //Size
  &--medium {
    padding: 20px;
    font-size: var(--font-size-3);
    font-weight: var(--font-weight-bold);
    border-radius: var(--border-radius-1);
  }

  &--small {
    padding: 8px;
    font-size: var(--font-size-2);
    font-weight: var(--font-weight-bold);
    border-radius: var(--border-radius-1);
  }

  &:disabled {
    pointer-events: none;
    opacity: 0.5;
  }
}
