@use "mixins/grid";
@use "mixins/image";

.card-detail {
  @include grid.directionColumn();
  border: 1px solid #E5E7EB;
  border-radius: 12px;
  padding: 16px;

  &_thumb {
    background-color: var(--color-neutral-3);
    border-radius: 16px;
    margin-bottom: var(--space-4);
    overflow: hidden;
    position: relative;

    img {
      @include image.validSizeImage();
      display: block;
    }
  }

  &_thumb,
  &_content {
    position: relative;
    width: 100%;
  }

  &_badge {
    position: absolute;
    top: 8px;
    left: 8px;

    app-badge {
      display: block;
      max-width: max-content;
    }
  }
}