<div class="card-detail">
  <div class="card-detail_thumb">
    <ng-content select="[thumb]">
      @if (image()) {
      <img [src]="image()" alt="foto de perfil do prestador de serviço"/>
      }
    </ng-content>

    @if(verified()) {
      <app-badge class="card-detail_badge" color="success">
        <fa-icon [icon]="checkIcon()" aria-hidden="true"></fa-icon> 
        Verificado
      </app-badge>
    }
  </div>

  <div class="card-detail_content">
    <ng-content></ng-content>
  </div>
</div>