@use "../../../../scss/mixins/grid" as grid;
@use "../../../../scss/mixins/position" as position;

.full-modal {
  @include position.fixedFullScreen;
  @include position.flexCenter();
  padding: 16px;
  z-index: 1;

  &.PROVIDER {
    background-color: var(--color-provider);
  }

  &.CUSTOMER {
    background-color: var(--color-customer);
  }

  &_content {
    @include grid.container(722px);
    @include position.flexCenter();
    gap: 24px;
  }

  &_body {
    @include grid.directionColumn();
    justify-content: center;
    align-items: flex-start;
    gap: 28px;
  }
}