@use 'mixins/grid';
@use 'mixins/position';
@use 'variables/breakpoints';

:host {
  display: block;
  margin-bottom: var(--space-6);
}

.address-form {
  @include grid.directionColumn();
  gap: 22px;

  &_header {
    margin-bottom: 24px;
    width: 100%;
  }

  &_content {
    @include grid.grid(min(280px, 100%), var(--space-6));
    width: 100%;
    gap: 22px;
  }

  &_default {
    display: flex;
    align-items: center;
    gap: 12px;
    cursor: pointer;

    input {
      width: 20px;
      height: 20px;
      flex-shrink: 0;
    }
  }

  &_footer {
    align-items: flex-start;
    display: flex;
    flex-wrap: wrap;
    gap: 12px;
    margin-right: auto;
    width: 100%;
  }
}
