@use 'mixins/grid';

.card-menu {
  @include grid.directionColumn();
  align-items: center;

  border-radius: var(--border-radius-1);
  background-color: var(--background-color);
  border: 1px solid var(--color-neutral-1);

  height: 100%;

  gap: var(--space-4);
  padding: var(--space-6);

  &_icon {
    font-size: 32px;
    width: 100%;
  }

  &_title,
  &_subtitle {
    display: block;
    width: 100%;
  }
}
