@use "variables/breakpoints";

.page {
  background: var(--proxi-background);
  display: flex;
  flex-direction: column;
  min-height: 100dvh;
  width: 100%;

  &_header {
    position: sticky;
    top: 0;
    width: 100%;
    z-index: 20;
  }

  &_container {
    display: flex;
    flex: 1;
    width: 100%;
  }

  &_content {
    flex: 1;
    min-width: 0;
    padding: var(--proxi-page-padding);
  }

  &_aside {
    display: none;

    @media (min-width: breakpoints.$tablet) {
      display: flex;
      flex: 0 0 280px;
    }

    app-aside { width: 100%; }
  }

  &_footer { width: 100%; }
}
