NODE_ENV=development
DATABASE_URL=
JWT_SECRET=
EXPIRES_IN=15m
PUBLIC_FRONTEND_ORIGINS=http://localhost:4200
BACKOFFICE_FRONTEND_ORIGINS=http://localhost:4300
PAYMENTS_SIMULATION=true
OTEL_EXPORTER_OTLP_ENDPOINT=http://localhost:4317
