.price {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    width: fit-content;

    &-value {
        color: var(--proxi-text);
        font-size: 20px;
        font-weight: var(--font-weight-bold);
    }

    &-legend {
        color: var(--proxi-text-muted);
        font-size: 11px;
        font-weight: var(--font-weight-regular);
    }
}
