@use "../../../../scss/mixins/grid";

.footer {
  @include grid.directionColumn();
  background-color: var(--color-neutral-3);
  color: var(--font-color-dark);
  padding: var(--space-14);

  &_container {
    @include grid.directionColumn();
    @include grid.container(880px);
  }

  &_links {
    justify-content: space-between;
    display: flex;
    width: 100%;
    flex: 1;
  }

  &_divider {
    margin: var(--space-6) 0;
    background: #000;
    height: 2px;
    width: 100%;
  }

  &_legend {
    text-align: center;
    line-height: 170%;
  }
}