<div class="card-address">
  <div class="card-address_icon" aria-hidden="true">
    <fa-icon [icon]="icon" />
  </div>

  <div class="card-address_wrapper">
    <header class="card-address_header">
      <strong>{{ address()?.label || 'Endereço' }}</strong>

      @if (address()?.isDefault) {
        <app-badge color="soft-primary">Principal</app-badge>
      }
    </header>

    <div class="card-address_container">
      <strong>{{ address()?.street }}, {{ address()?.number }}</strong>
      @if (address()?.complement) {
        <span>{{ address()?.complement }}</span>
      }
      <span>
        @if (address()?.neighborhood) {
          {{ address()?.neighborhood }} ·
        }
        {{ address()?.city }}, {{ address()?.state }}
      </span>
      <span class="card-address_cep">CEP {{ address()?.cep }}</span>
    </div>

    <footer class="card-address_footer">
      <button
        type="button"
        (click)="onClick(events.edit)"
        class="card-address_button card-address_edit"
      >
        <fa-icon [icon]="editIcon" />
        Editar
      </button>

      <button
        type="button"
        (click)="onClick(events.remove)"
        class="card-address_button card-address_remove"
      >
        <fa-icon [icon]="removeIcon" />
        Remover
      </button>
    </footer>
  </div>
</div>
