<div class="card-address">
    <fa-icon class="card-address_icon" [icon]="icon" />

    <div class="card-address_wrapper">
        <header class="card-address_header">
            <strong>
                {{address()?.label}}
            </strong>

            @if (address()?.isDefault) {
            <app-badge color="soft-primary">
                Principal
            </app-badge>
            }
        </header>

        <div class="card-address_container">
            <span class="legend">{{address()?.street}}, {{address()?.number}}</span>
            <span class="legend">
                @if (address()?.neighborhood) {
                {{address()?.neighborhood}} -
                }
                {{address()?.city}}, {{address()?.state}}
            </span>
            <span class="legend">CEP: {{address()?.cep}}</span>
        </div>

        <footer class="card-address_footer">
            <button (click)="onClick(events.edit)" class="card-address_button card-address_edit">
                Editar
            </button>

            <button (click)="onClick(events.remove)" class="card-address_button card-address_remove">
                Remover
            </button>
        </footer>
    </div>
</div>