<div class="card-address">
    <fa-icon class="card-address_icon" [icon]="icon" />

    <div class="card-address_wrapper">
        <header class="card-address_header">
            <strong>Casa</strong>

            <app-badge color="soft-primary">
                Principal
            </app-badge>
        </header>

        <div class="card-address_container">
            <span class="legend">Rua das Orquideas, 123</span>
            <span class="legend">Centro - São Bernardo do campo, SP</span>
            <span class="legend">CEP: 09853-120</span>
        </div>

        <footer class="card-address_footer">
            <button class="card-address_button card-address_edit">
                Editar
            </button>

            <button class="card-address_button card-address_remove">
                Remover
            </button>
        </footer>
    </div>
</div>