@use "mixins/geometric" as geometric;
@use "mixins/position" as position;
@use "resets/button" as button;
@use "mixins/grid" as grid;

.layout-slider-item {
  @include position.flexCenter();
  scroll-snap-align: start;
  height: 100dvh;
  width: 100%;

  &.PROVIDER {
    background-color: var(--color-provider);
  }

  &.CUSTOMER {
    background-color: var(--color-customer);
  }

  &_container {
    @include grid.directionColumn();
    @include grid.container(322px);
    flex: 0 0 100%;
    gap: 24px;
    position: relative;
  }

  &_image {
    display: block;
  }

  &_actions {
    display: flex;
    gap: 12px;
    flex-direction: column;
    width: 100%;
  }

  app-button {
    display: block;
    width: 100%;
  }
}
